h2 {
  display: none;
}

p {
  text-align: center;
}

aside {
  font-size: 19px; /* changed from rem */
  padding: 5px 0;
  text-align: center;
  width: 100%;
}

aside a {
  color: darkslategrey;
  display: block;
  padding: 5px 0;
  text-decoration: none;
  width: 100%;
}

aside a:hover {
  background-color: red;
  color: white;
}

.hero {
  width: 100%;
  aspect-ratio: 16 / 9;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  inset: 0;
}

@media only screen and (min-width: 768px) {
  main {
    display: flex;
  }

  aside {
    align-items: center;
    display: flex;
    flex-direction: column;
    float: left;
    justify-content: center;
    width: 30%;
  }

  section {
    display: inline;
    float: right;
    width: 70%;
  }

  .indexbody {
    max-width: auto;
    align-self: center;
    margin: 10px;
    padding: 10px;
    box-sizing: border-box;
    background-color: darkslategrey;
    color: lightgrey;
    font-size: 19px; /* changed from rem */
    line-height: 1.6;
  }
}
